/* IMPOSTAZIONI GENERALI */

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/sfondo.png);
    margin: 15px;
}


/* HEADER */

#header{
    background: rgb(0,160,198);
    background: linear-gradient(180deg, rgba(0,160,198,1) 0%, rgba(3,109,134,1) 68%);
    padding: 30px 0;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}

.logo{
    width: 180px;
    margin-bottom: 20px;
}

.claim{
    margin-bottom: 20px;
}

#menu a{
    color: #fff;
    text-decoration: none;
}
#menu a::before{
    content:"⇒ ";
}
#menu a::after{
    content:" ⇐";
}

/* MAIN */

.container{
    background-color: #fff;
    padding: 30px 15px;
    margin-bottom: 15px;
}

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
#footer{
    background: linear-gradient(0deg, rgba(53,53,53,1) 0%, rgba(5,85,103,1) 68%);
    padding: 10px 15px 30px 15px;
}
