.area-con-sfondo{

    height: 300px;
    position: relative;
    color: #fff;
    
}

.sfondo{
    background-image: url(https://picsum.photos/700/300);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-color: rgba(0,0,0,0.3);
}