<h2>Esempio direttive</h2>


<div appColora colore="green">
 Elemento con direttiva colora
</div>
<p appColora>
 Elemento con direttiva colora
</p>


<h2>Esempio pipe</h2>

<p>
<!--cut è una pipe custom, cioè fatta da me, e si occupa di tagliare un testo prima di mostrarlo-->
<!--: 'prova' : 'prova2' sono argomenti di prova che verranno mostrati nel console.log presente nella funzione della pipe-->
 {{testo | cut : 'prova' : 'prova2'}}

</p>

<hr>
{{5 | currency : 'VND' : 'code'}}
<hr>
<hr>
{{now | date : 'mm:ss'}}
<hr>

Atque, cupiditate. Quaerat, ipsa distinctio molestias harum doloremque amet ex voluptas neque consectetur veritatis mollitia eveniet expedita. Voluptate nobis doloribus quasi et distinctio, ab alias sapiente rerum, voluptates explicabo atque!
Officia distinctio exercitationem rerum ullam eligendi. Soluta, veritatis esse ex, doloremque blanditiis error aspernatur incidunt ipsa accusamus beatae quos nesciunt doloribus deserunt illum perferendis quia cupiditate architecto, facilis voluptatibus aut.
Minus veritatis nesciunt accusantium expedita eligendi nobis, autem ex repellendus dolorem iste quasi vitae quam? Corrupti ad maiores quasi architecto adipisci eligendi assumenda, quas incidunt sapiente. Sunt, harum? Nam, iure!
Culpa nesciunt rerum modi unde, consequuntur quisquam sapiente iste commodi. Odit eum nihil debitis in velit soluta deleniti ipsa pariatur nesciunt consequuntur vel rerum nostrum delectus, incidunt impedit cupiditate minus.
At voluptatibus neque accusantium repudiandae nisi, laboriosam sequi voluptatem voluptate sit quam, ut impedit assumenda. Accusamus, nulla voluptates. Modi molestias, nostrum non ipsam distinctio aut nesciunt sapiente tenetur quam blanditiis?
Et, at natus aspernatur incidunt a officiis nobis quasi id dolor expedita consequuntur commodi dignissimos qui quaerat quibusdam eaque hic quidem dicta. Aliquid dolores suscipit nulla pariatur. Repellendus, corrupti praesentium!
Commodi, hic iste obcaecati voluptates, expedita omnis odit repellat consequuntur inventore recusandae animi illo magni alias! At dolorum obcaecati voluptatum, adipisci culpa quam similique porro optio deserunt sunt. Voluptates, sit.
Rem pariatur eveniet repellat, mollitia laboriosam quae non necessitatibus. Reiciendis consequatur ullam rerum obcaecati nesciunt, dolores, aliquid sit iste velit ea eum dolore, at provident possimus sequi culpa ratione magnam.
Aliquam consequatur, repellendus cum, doloribus voluptatum quidem sunt quae culpa nemo eveniet molestias eligendi placeat eos a laborum commodi tempore vero rerum quis aperiam! Quibusdam, dolore! Quam odit fuga rem?
Vero autem, porro quidem quo aperiam harum voluptas ipsam veniam molestias perferendis vitae atque sed mollitia animi voluptates explicabo numquam, culpa odio? Illo libero est eligendi debitis in reiciendis unde.
Cum, eos, corporis dolorem odio facere mollitia magnam, voluptas temporibus atque eveniet excepturi illo dolor. Dolorem eligendi iure alias minima sint tempora vitae laboriosam sunt cumque voluptatem non, pariatur accusamus?
Ut voluptates, optio nulla eligendi at, nam eum aspernatur consectetur perferendis hic natus deserunt error debitis voluptas excepturi. Facilis consectetur cumque nihil ut repellendus consequuntur fugiat esse non ipsa repellat.
Quasi accusantium nostrum recusandae dolore quae ipsam veniam, ducimus consequatur error, distinctio minima enim ad quidem placeat deleniti. Voluptates reprehenderit deleniti nobis, facere maiores sed repellat fuga pariatur minima excepturi.
Laudantium officiis, ea officia optio explicabo cumque ipsam nisi unde repellendus ullam, soluta architecto culpa porro commodi fugit, labore dolorem vitae? Distinctio voluptate mollitia amet labore laborum. Voluptatum, odio consectetur.
Ipsam, eaque quidem! Doloribus iusto repellendus minima ad accusamus quo voluptatibus quas nam accusantium cupiditate culpa, dolor id quisquam perspiciatis labore, autem expedita consequatur et obcaecati, rem explicabo? Obcaecati, animi!
Ad voluptatum animi quam sed eius suscipit pariatur blanditiis nobis repellat adipisci aliquam illo voluptatem molestiae distinctio consectetur qui quas, tempora fugiat eaque vel quibusdam et nulla nesciunt? Non, quo.
Est reprehenderit, quis eaque adipisci nemo natus aperiam doloremque, recusandae quasi inventore voluptatum iste dicta veritatis cum nihil laborum ducimus deleniti fuga tempore animi. Exercitationem ullam suscipit adipisci laboriosam commodi.
Totam doloribus numquam reiciendis enim. Saepe optio eos atque. Laboriosam, repellendus quia? Perspiciatis expedita cum natus, unde omnis fugiat eos sit porro exercitationem aperiam? Facilis cumque tempore ullam. Quasi, adipisci?
Asperiores eveniet nemo facere amet delectus, quasi molestiae porro laborum quos reprehenderit tempora incidunt consectetur iusto. Vitae, totam. Nostrum magni quis dolorum autem blanditiis impedit quasi ipsum ex accusamus animi?
Rem nobis esse labore quia quos? At ab odio, suscipit impedit dolor et corrupti dolores illum rem quasi quod nostrum neque dolorum saepe eum iure tenetur modi corporis amet deserunt.
Ipsum nihil eius exercitationem necessitatibus quidem! Labore placeat harum ut odio illum eveniet, sunt incidunt quia quisquam atque quo dolorum reprehenderit soluta. Adipisci nisi tempora nostrum consequatur illum praesentium sunt.
Ullam modi corporis commodi repellat doloremque, esse, soluta magni provident eius veniam illum corrupti nisi molestiae dolore ratione dicta illo ipsum vel molestias labore dignissimos! Inventore asperiores voluptatibus et voluptatem.
Odio animi, a natus, repellat, esse non ducimus ut laboriosam accusantium repudiandae sapiente? Adipisci esse debitis aut quidem. Repellat incidunt at atque enim doloremque debitis in nostrum nulla eaque consequuntur?
Architecto consectetur id sequi eum porro. Error nesciunt ipsa neque illo facilis iste totam in impedit! Consequuntur voluptas, minus tempora tenetur voluptatum voluptatem labore. Consequuntur alias earum deserunt dolores aut.
Voluptates neque illum eum dicta, eveniet quidem quam eligendi quis placeat nesciunt, quae debitis, labore minima atque. Maiores ducimus, fuga delectus saepe eum recusandae doloribus voluptatem explicabo tempora et blanditiis.
Perspiciatis eligendi corporis esse velit debitis reprehenderit minus. Ipsum culpa, suscipit debitis asperiores tempora nostrum! Vitae laudantium quasi hic dicta, nam ipsam atque sint ut incidunt in ad rem earum!
Consectetur itaque fugiat, ducimus obcaecati eius minus sit iusto tenetur corporis harum libero neque, tempora sapiente deleniti repudiandae nemo id assumenda autem numquam molestiae eaque accusamus esse dignissimos sunt! Nihil.
Dicta, recusandae blanditiis aliquid cupiditate magni repudiandae quisquam ipsa numquam voluptatum adipisci dignissimos magnam veniam eum quos earum soluta quaerat velit consequuntur impedit fugiat excepturi dolore a quam optio! Ipsum.
Laborum quasi nisi eveniet, sint beatae eum temporibus sed! Labore, quos? Velit aperiam at accusantium reiciendis, nisi quod obcaecati molestiae repudiandae fugit sequi veritatis eum nesciunt eos quis a illo.
Cum nisi dignissimos fugit saepe voluptates. Provident velit odit est pariatur possimus culpa quas repellat accusantium fugit quia voluptatibus blanditiis suscipit vitae, eveniet distinctio eligendi. Voluptas illo iusto ea ut?
Dolore nam ea fugiat provident blanditiis aperiam dolor ipsam dolores, assumenda beatae temporibus rerum impedit fuga, ipsum deserunt magnam commodi maiores vel maxime incidunt exercitationem praesentium numquam quidem. Ipsa, est!
Temporibus tenetur asperiores doloremque, magnam eaque ex quisquam quis earum vero, laboriosam fugit, perspiciatis velit. Voluptatem voluptate saepe impedit ipsa, quisquam iste sequi ex. Inventore iure error adipisci veritatis sequi.
Vel nobis quis voluptate expedita sed temporibus fugit tempora debitis modi nesciunt distinctio, id saepe quos alias hic repudiandae? Doloribus tempora sint maxime aliquam consectetur omnis architecto nemo provident accusamus!
Exercitationem autem eligendi enim quidem, molestias dolores. Aliquid pariatur labore placeat, aut iusto error voluptatum provident enim ipsam inventore? Unde rem hic impedit asperiores alias cupiditate iste, voluptates pariatur doloremque.
Eius magnam, repudiandae distinctio necessitatibus nemo voluptate nobis dolor itaque fugiat laudantium deserunt asperiores saepe ut atque explicabo dolores illum a modi sunt. Iure sint illo mollitia culpa tempora iusto.
Necessitatibus assumenda deserunt culpa velit autem quisquam, rem esse similique voluptatem dolorem vel odit suscipit perferendis sapiente magni, nostrum sint fuga! Dolorem deleniti neque cupiditate repellat rem sunt autem dolor?
Unde eligendi illo nam, ipsa officiis consectetur earum, perspiciatis magnam vero porro perferendis laudantium, molestias totam laboriosam consequuntur accusamus repellat nostrum aliquid. Obcaecati voluptatibus rerum cumque voluptas aperiam quisquam necessitatibus.
Earum nobis unde beatae architecto magnam totam tenetur natus delectus vero fugit eaque voluptatem sed quisquam voluptas placeat aperiam omnis culpa commodi eligendi dicta, dignissimos quod! Dignissimos nostrum eaque eius!
Libero, fuga dolor excepturi, quae ad quam aut, ipsum ullam earum velit odio obcaecati neque corporis vero nemo. Hic minima fuga dolorum aliquam. Quam natus hic atque qui deserunt quis!
Unde impedit labore tempora, quasi ab nobis repudiandae asperiores sequi, animi quae accusamus cupiditate, molestiae in. Dolorum nihil, exercitationem eius, itaque dicta pariatur quia maiores, quae natus earum vitae doloribus.
Amet cum mollitia ipsam, earum tempora quisquam natus cupiditate ratione aperiam nesciunt voluptatibus assumenda officiis, eveniet eaque magnam sequi, illo ipsa sapiente aliquid. Hic odit, vel voluptatum repellat assumenda ut!
Magnam, dolore et? Architecto, numquam facere. Nam autem cum veniam velit expedita quam architecto corporis nulla nesciunt exercitationem, id harum iste, quod illum nobis aliquid. Quibusdam similique modi minima ea.
Eveniet beatae alias commodi nulla tempora nostrum hic, ab nisi est? Dicta ab accusantium, maxime iure ducimus adipisci repellat provident magnam! Corrupti nobis nulla voluptatibus assumenda, dolor obcaecati asperiores libero.
Culpa maiores temporibus, illo, expedita a voluptates, dolorum quis dignissimos sed consequatur minus vitae eius veritatis repellendus consequuntur quasi corrupti exercitationem ipsum fuga eveniet praesentium. Totam atque nulla tempore porro.
Nulla sit minima facilis atque similique a assumenda commodi. Delectus optio illo itaque aliquam labore! Voluptas, enim quas velit nemo reiciendis beatae expedita quia officia nisi fugiat ea debitis. Ducimus!
Officia porro nihil sit obcaecati eos qui laborum unde, nesciunt aliquid atque blanditiis temporibus mollitia ipsa expedita, eius, in quasi quaerat? Architecto, impedit! Minus, blanditiis illum dolor eum quasi placeat!
Esse libero saepe reiciendis possimus, officia aliquid sapiente, mollitia delectus quam quos rerum suscipit repellat pariatur architecto illum eum voluptatum, quaerat non nisi temporibus corporis. Expedita accusantium consequuntur iusto commodi?
Facere quisquam vel quibusdam saepe excepturi nisi fuga asperiores enim voluptatibus illo quasi at temporibus, voluptatem odio sit, rem quidem sunt. Praesentium quidem quos quam eligendi officiis porro, dolorum eum.

<p show-on-scroll>
  <b>Apparizione</b>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, qui molestiae officiis ab tempore provident voluptas doloribus vero corrupti ex voluptatem odit nobis. Aut natus eaque repudiandae. Impedit, eligendi distinctio.

</p>
