
.scena{
    perspective: 400px;
    transform-style: preserve-3d;
    border: 1px solid #000;
}

.quadrato{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 1px solid #fff;
}


#q1{
    transition: all 0.3s;
}
#q1:hover{
    background-color: blue;
    width: 200px;
}

#q2{
    animation-name: rotea;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 2rem;
}

#q3{
    animation-name: rotea, muovi;
    animation-duration: 1s, 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction:normal, alternate;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 2rem;
}

#q3:hover{
    animation-play-state: paused;
}

@keyframes rotea{
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}
@keyframes muovi{
    from {margin-left: 0;}
    to { margin-left: 90%;}
}


#q4{
    animation-name: lampeggia;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes lampeggia{
    0%{background-color: red;}
    10%{background-color: blue;}
    50%{background-color: yellow;}
    100%{background-color: green;}
}