<h1>Lista Pizze</h1>

<div *ngIf="pizze.length == 0" class="alert alert-info">
  Caricamento in corso
</div>

<table *ngIf="pizze.length > 0" class="table">
  <tr>
    <th>#</th>
    <th>Gusto</th>
    <th>Prezzo</th>
    <th>Disponibile</th>
    <th>azioni</th>
  </tr>

  <tr *ngFor="let pizza of pizze; let i = index">
    <td>{{i + 1}}</td>
    <td>{{pizza.gusto}}</td>
    <td>{{pizza.prezzo}}</td>
    <td>{{pizza.disponibile}}</td>
    <td>
      <button [routerLink]="['/edit',pizza.id]" class="btn btn-warning">Modifica</button>
      <button (click)="assegnaPizza(pizza)" class="btn btn-warning">Modifica live</button>
      <button (click)="cancellaPizza(pizza.id)" class="btn btn-danger">Elimina</button>
    </td>
  </tr>
</table>

<form *ngIf="editingPizza">
  <input name="gusto" [(ngModel)]="editingPizza.gusto" type="text" placeholder="Gusto" class="form-control">
  <input name="prezzo" [(ngModel)]="editingPizza.prezzo" type="number" placeholder="Prezzo" class="form-control">
  <select name="disponibile" [(ngModel)]="editingPizza.disponibile" class="form-control">
    <option [value]="true">disponibile</option>
    <option [value]="false">non disponibile</option>
  </select>
  <button (click)="edit()" class="btn btn-primary">Modifica</button>
</form>



