.col{
    height: 400px;
    background-color: bisque;
    border: 1px solid #000;
    vertical-align: top;
}

@media screen and (min-width:560px) {
    .col{
        width:  calc(100% / 2 - 4px);
        display: inline-block;
        background-color:aqua;
    }   
}
@media screen and (min-width:768px) {
    .col{
        width:  calc(100% / 3 - 6px);
        background-color:blue;
    }   
}

@media screen and (min-width:1025px) {
    .col{
        width:  calc(100% / 4 - 6px);
        background-color:red;
    }   
}

@media screen and (min-width:1200px) {
    .container{
        width: 1200px;
        margin: 0 auto;
    }  
}
@media screen and (min-width:1440px) {
    .container{
        width: 1440px;
        margin: 0 auto;
    }  
}